body {
    font-family: Helvetica, Arial, sans-serif;
    color: #444;
    font-variant: small-caps;
}

h1 {
    text-align: center;
}

.square {
    background-color: tomato;
    cursor: pointer;
    width: 150px;
    height: 150px;
    transition: background-color 0.2s ease;
}

.rectangle {
    background-color: tomato;
    width: 100%;
    height: 50px;
    transition: background-color 0.2s ease;
}

.drago-frame {
    background-color: #7fdbff;
}

.drago-dragging {
    background-color: #B10DC9;
}

#frame {
    border: none;
    width: 75%;
    height: 100%;
    position: fixed;
    right: 0;
    top:0;
    bottom:0;
}

#container {
    border: 1px dashed black;
    cursor: pointer;
    margin: 0 auto;
    padding: 5px;
    width: 250px;
    height: 250px;
}